<div class="right-sidebar w-100 float-start">
    <div class="award-shts w-100 float-start">
      <ul>
        <li><a href="#"><img src="assets/images/drop.png" alt=""> <span class="drop">0</span></a></li>
        <li><a href="#"><img src="assets/images/diamond.png" alt=""> <span class="diamond">500</span></a></li>
        <li><a href="#"><img src="assets/images/heart.png" alt=""> <span class="heart">3</span></a></li>
        <li><a href="#"><img src="assets/images/treasure.png" alt=""> <span class="treasure">25</span></a></li>
      </ul>
    </div><!--award-shts-->      
    
  </div><!--right-sidebar-->