<header>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-4 offset-4 offset-md-0">
          <div class="logo-dv w-100 float-start">
            <img src="assets/images/logo.png" alt="">
          </div>
        </div><!--col-3-->

        <!--<div class="col-md-9 col-7 d-none d-md-block">
          <div class="language-slct w-100 float-start">
            <p><img src="assets/images/flag.png" alt=""> English (UK)</p>
           
            <div class="selector">
              <a class="selector__toggle" data-toggle="dropdown" href="#">
                <span class="valueOfButton">Site Language</span> <i class="fa fa-chevron-down"></i>
              </a>
              <ul class="selector__list">
                <li><a href="#" class="/boomerang">English</a></li>
                <li><a href="#" class="/de/blog">Deutsche</a></li>
              </ul>
            </div>
         
          </div>
        </div>col-9-->
      </div><!--row-->
    </div><!--container-->
  </header>
