
<div class="bg-sect w-100 float-start">
    <img src="assets/images/footer.png" alt="" class="d-none d-md-block">
    <img src="assets/images/footermb.png" alt="" class="d-md-none d-block">
  </div>
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footlogo d-md-none text-center">
            <img src="assets/images/logo.png" alt="">
          </div>
  
          <div class="foot-1 w-100 float-start">
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">FAQs </a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Terms of Service</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Blog/News</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Support/Help Center</a></li>
              <li><a href="#">Community Forum</a></li>
              <li><a href="#">Press Kit</a></li>
              <li><a href="#">Affiliate/Partnership Program</a></li>
              <li><a href="#">Accessibility</a></li>
              <li><a href="#">Feedback</a></li>
              <li><a href="#">Sitemap</a></li>
              <li><a href="#">Social Media Icons</a></li>
            </ul>
          </div><!--foot-1-->
  
          <div class="foot-2 w-100 float-start text-center">
            <p>&copy; 2023 Explore Social Play. All Rights Reserved.</p>
          </div><!--foot-2-->
        </div><!--col-12-->
      </div><!--row-->
    </div><!--container-->
  </footer>